<div class="about content">
  <div class="content__section">
    <h1>About</h1>
  </div>
  <div class="content__section text--justify">
    <h2>Lorem ipsum</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae pretium nunc, sit amet tempus dolor. Pellentesque mattis nibh 
      vel lacus pellentesque fringilla. Curabitur finibus magna finibus elementum dignissim. Aliquam luctus quis ante vitae ultricies. 
      Vestibulum vulputate ut eros ac vestibulum. Ut massa nibh, lacinia at iaculis eu, aliquet eget nulla. Mauris vitae faucibus nisi. 
      Praesent sit amet justo ultricies, mollis tortor ac, ornare dolor. Nullam aliquet mollis aliquet.
    </p>
  </div>
  <div class="content__section">
    <img src="/assets/images/plants1.jpg" alt="Plants">
  </div>
  <div class="content__section text--justify">
    <h2>Tellus tempus</h2>
    <p>
      Nam elit magna, imperdiet tempus erat vitae, tincidunt cursus ante. Curabitur cursus tellus tempus elit mattis rhoncus. Donec 
      fringilla ultricies augue, sed eleifend eros imperdiet nec. Sed convallis fringilla leo sit amet porttitor. In sagittis leo 
      sollicitudin enim dignissim aliquet. Morbi dictum, lectus sit amet fermentum posuere, neque nulla volutpat magna, suscipit 
      dapibus dui felis et nisi. Fusce a neque in est porta lobortis eu vitae erat. Fusce lectus nisi, laoreet in massa vitae, sodales 
      ultrices sem. Morbi quis libero libero. Quisque iaculis feugiat ex eget viverra. Mauris maximus lobortis odio, et rhoncus dui 
      pulvinar sit amet. Curabitur maximus ligula lorem, id porttitor ligula aliquet in. Suspendisse finibus turpis at est lacinia, 
      et faucibus sapien mattis.
    </p>
  </div>
</div>
