<div class="above-the-fold">
  <div class="above-the-fold__image above-the-fold--bg" style="background-image: url(/assets/images/atf-bg.jpg)"></div>
  <div class="above-the-fold__overlay above-the-fold--bg"></div>

  <div class="above-the-fold__content">
    <h1 class="above-the-fold__title">Plant Shop</h1>
    <p class="above-the-fold__description">
      Nam elit magna, imperdiet tempus erat vitae, tincidunt cursus ante. Curabitur cursus tellus tempus elit mattis rhoncus. Donec 
      fringilla ultricies augue, sed eleifend eros imperdiet nec.
    </p>
    <a class="above-the-fold__cta" mat-raised-button color="accent" routerLink="/">
      Browse 234 plants
    </a>
  </div>
</div>
