<div class="home content">
  <div class="content__section content__section--stretch">
    <app-above-the-fold></app-above-the-fold>
  </div>
  <div class="content__section text--justify">
    <h2>Lorem ipsum</h2>
    <p>
      Nullam aliquet mollis aliquet. Fusce ac dignissim orci, 
      feugiat aliquam turpis. Phasellus malesuada tortor lacus, sed tincidunt nisl ultricies in. Morbi tincidunt mi at vehicula vehicula. 
      Aliquam faucibus dolor sed purus consequat auctor. Aliquam semper enim orci, at malesuada massa facilisis non. Pellentesque maximus 
      massa in quam molestie, commodo luctus sem eleifend. Vivamus commodo quam sed risus pellentesque, eget varius nunc gravida.
    </p>
  </div>
  <div class="content__section">
    <img src="/assets/images/plants2.jpg" alt="Plants">
  </div>
  <div class="content__section text--justify">
    <h2>Tellus tempus</h2>
    <p>
      Nam elit magna, imperdiet tempus erat vitae, tincidunt cursus ante. Curabitur cursus tellus tempus elit mattis rhoncus. Donec 
      fringilla ultricies augue, sed eleifend eros imperdiet nec. Sed convallis fringilla leo sit amet porttitor. In sagittis leo 
      sollicitudin enim dignissim aliquet. Morbi dictum, lectus sit amet fermentum posuere, neque nulla volutpat magna, suscipit 
      dapibus dui felis et nisi. Fusce a neque in est porta lobortis eu vitae erat. Fusce lectus nisi, laoreet in massa vitae, sodales 
      ultrices sem. Morbi quis libero libero. Quisque iaculis feugiat ex eget viverra. Mauris maximus lobortis odio, et rhoncus dui 
      pulvinar sit amet. Curabitur maximus ligula lorem, id porttitor ligula aliquet in. Suspendisse finibus turpis at est lacinia, 
      et faucibus sapien mattis.
    </p>
  </div>
</div>